body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#container {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.back-button {
    display: inline-block;
    background-color: #ccc;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #bbb;
}

#question {
    background-color: crimson;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

.hidden {
    display: none;
}